@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: rgb(252, 246, 246);
	color: rgb(3, 3, 3);
   
    padding-bottom: 50px;
}

.logo{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: bold;
}
nav {
    background-color: rgb(255, 254, 254);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-in-out;
    z-index: 99;
    padding: 7px 30px!important;

}

nav.active {
    background-color: rgb(15, 15, 15);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding: 7px 30px!important;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

nav .container {
    align-items: center;
    display: flex;
    padding: 7px 30px !important;
    justify-content: space-between;
    transition: all .3s ease-in-out;
}

nav.active .container {
    padding: 10px ;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

nav a {
    color: rgb(255, 40, 40);
    padding: 7px 50px;
    text-decoration: none;
    transition: all .3s ease-in-out;

}

nav li a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 248, 248);
    
}

nav.active a {
    color: rgb(255, 255, 255);
    padding: 7px 10px;
}

nav.active li a:hover {
    background-color: rgb(255, 249, 249);
    color: rgb(238, 32, 32);
}

nav a.active {
    background-color: #fa2912;
    color: #fff;
}

.hero {
    align-items: center;
    background-image: url('Laptop2.jpg');
    background-size: cover;
    background-position: bottom center;
    color: #fff;
    display: flex;
    height: calc(100vh - 30px);
    justify-content: center;
    position: relative;
    text-align: center;
    z-index: -2;
}

.hero::before {
    content: ' ';
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.hero h1 {
    font-size: 66px;
    margin: -20px 0 20px;
}

.hero p {
    font-size: 30px;
    letter-spacing: 1px;
}

.content h2, .content h3 {
    font-size: 150%;
    margin: 10px 0;
}

.content p {
    color: rgb(5, 5, 5);
    line-height: 30px;
    letter-spacing: 1.5px;
}

footer {
	background-color: rgb(0, 0, 0);
	color: #fff;
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
	letter-spacing: 1px;
	text-align: center;
  
}

footer p {
	margin: 10px 0;
}

footer i {
	color: red;
}

footer a {
	color: #3C97BF;
	text-decoration: none;
}

@media only screen and (max-width:500px){
  nav ul{
    display: none !important;
    
  }
}


  
.sidenav {
  height: 100%; 
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 30px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #ff0000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
  




/* card  starts here */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    position: relative;
    left: 10px;
    margin-left: 30px auto;
    float: left;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }



  /* card starts here */

  :root {
    --clr-primary: #651fff;
    --clr-gray: #37474f;
    --clr-gray-light: #b0bec5;
  }
  
  * {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  
  body {
    margin: 2rem;
    color: var(--clr-gray);
  }

  .alumini{
    font-size: 50px;
    font-style: cursive;
    color: #000;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
    padding: 20px;
  }

  .alumini:hover{
  
      color: #f0094a;
      background: transparent;
       box-shadow:none;
       -ms-transform: scale(1.5); /* IE 9 */
       -webkit-transform: scale(1.5); /* Safari 3-8 */
       transform: scale(1.1); 
       transition-duration: 0.7s;
       box-shadow: 0px 2px 8px 0px red;
       margin: 0 auto ;
    
  }
  
  /* //Wrapper for grid */
  .wrapper-grid {
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
    grid-gap: 2rem;
    justify-content: center;
  }
  
  /* //profile card container */
  .container1 {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    text-align: center;
    border-radius: 1rem;
    position: relative;
    top: 50px;
  }
  
  .container1:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
    transition-duration: 0.7s;
    box-shadow: 0px 2px 8px 0px red;
  }
  /* //background image in card */
  .banner-img {
    position: absolute;
    background-image: url(15.\ Perfume.jpg);
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner-img-1 {
    position: absolute;
    background-image: url(09.\ Light\ Sky\ Blue.jpg);
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner-img-2 {
    position: absolute;
    background-image: url(./10.\ Mindaro.jpg);
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner-img-3 {
    position: absolute;
    background-image: url(./11.\ Fuchsia.jpg);
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  


  .banner-img-4 {
    position: absolute;
    background-image: url(./12.\ Tumbleweed.jpg);
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner-img-5 {
    position: absolute;
    background-image: url(./41.\ Tonys\ Pink.jpg);
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .banner-img-6 {
    position: absolute;
    background-image: url(./19.\ Can\ Can.png);
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner-img-7 {
    position: absolute;
    background-image: url(./20.\ Melanie.png);
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner-img-8 {
    position: absolute;
    background-image: url(./21.\ Columbia\ Blue.png);
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  
  /* //circle profile image on top */
  .profile-img {
    width: 8rem;
    clip-path: circle(60px at center);
    margin-top: 10.5rem;
  }
  
  /* //name */
  .name {
    color: #000;
    font-family: 'Lobster Two',sans-serif !important;
    margin-top: 60px;
    font-size: 3rem;
  }
  
  /* //paragraph description */
  .description {
    margin: 1rem 2rem;
    font-size: 0.9rem;
  }
  
  /* //primary button at bottom */
  .btn {
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    background-color: var(--clr-primary);
  }
  
  /* //Responsive Tablet */
  @media screen and (min-width: 500px) {
    .wrapper-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* //Responsive Desktop */
  @media screen and (min-width: 760px) {
    .wrapper-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .btn {
    width: 130px;
    height: 40px;
    color: rgb(12, 11, 11);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    margin-bottom: 10px;
  }

  .btn {
    width: 200px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }

  .btn:hover {
    color: #f0094a;
    background: transparent;
     box-shadow:none;
  }
  .btn:before,
  .btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn:hover:before,
  .btn:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  




  .content {
    padding-left: 20px;
    padding-right: 20px;
}




background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
